@model Library.Models.PagedBookListViewModel

@{
    ViewBag.Title = "Books";
}

@foreach (var p in Model.Books)
{
    <div>
        @if (p.Image.Length > 0)
        {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="175" height="175"
                     src="@Url.Action("GetImage", "Home",
 new { p.ISBN })" />
            </div>
        }
        <h3>@p.Name</h3>
        @p.Author
        
    </div>
}

<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>