@model Library.Models.PagedBookListViewModel

@{
    ViewBag.Title = "Books";
}

@foreach (var p in Model.Books)
{
    <div>
        @if (p.Image.Length>0) { 
        <h4>@p.Image</h4>
        }
        <h3>@p.Name</h3>
        @p.Author
        
    </div>
}

<div>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>