@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}

<hgroup>
    <h1 class="text-danger">You are blocked.</h1>
    <h2 class="text-danger">Sorry but you need another account.</h2>
</hgroup>
