@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <input type="text" class="col-md-1" id="search-fld" name="search">
    <button class="search-btn col-md-1" type="submit">Search</button>
}