

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Your personal account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
                @Html.ActionLink("Change password", "ChangePassword")
            ]
        </dd>
    </dl>
</div>
